body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1; /* Change the background color of the page */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container,
.connected-users,
.new-meeting {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    flex: 1;
    max-width: 800px;
}

.connected-users {
    flex: 1;
    max-width: 350px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.connected-users h2 {